/* Medium Devices, Desktops */
@media only screen and (max-width: 1440px) {
.wrapper{
width: 1440px;
}
.header{

}
.top_menu{

}
.sideLeft{

}
.content{

}
.footer{

}
}

/*Small Devices, Tablets */
@media only screen and (max-width: 768px) {
.wrapper{
width: 750px;
}
.header{
width: 750px;
}
.top_menu{

}
.sideLeft{

}
.content{

}
.footer{

}
}